<div class="tabs-wrapper" data-component="tabbed">
    <ul class="tabs-list">
        <li><a class="tabs-list__trigger active" href="#panel-a" id="tab-panel-a" aria-selected="true" data-component="tabbed__trigger">Panel A</a></li>
        <li><a class="tabs-list__trigger" href="#panel-b" id="tab-panel-b" aria-selected="false" data-component="tabbed__trigger">Panel B</a></li>
        <li><a class="tabs-list__trigger" href="#panel-c" id="tab-panel-c" aria-selected="false" data-component="tabbed__trigger">Panel C</a></li>
    </ul>
    <div id="panel-a" class="tab-panel active" aria-hidden="false" aria-labelledby="tab-panel-a" data-component="tabbed__target">
        <h6>Panel A</h6>
    </div>
    <div id="panel-b" class="tab-panel" aria-hidden="true" aria-labelledby="tab-panel-b" data-component="tabbed__target">
        <h6>Panel B</h6>
    </div>
    <div id="panel-c" class="tab-panel" aria-hidden="true" aria-labelledby="tab-panel-c" data-component="tabbed__target">
        <h6>Panel C</h6>
    </div>
</div>