@mixin clear() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

 //    &:before, &:after {
	// 	content: ".";
	// 	display: block;
	// 	height: 0;
	// 	overflow: hidden;
	// }
	// &:after {
	//     clear: both;
	// }
	// & {
	//     zoom: 1; /* IE < 8 */
	// }
}

// http://cssmojo.com/latest_new_clearfix_so_far